---
layout: layouts/base.njk
---

<div class="section">
    <div class="container is-max-desktop">
        <h1 class="title is-1">{{ title }}</h1>

        <hr/>

        <p>Swagger UI</p>
    </div>
</div>
