<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <meta name="robots" content="index,follow"/>
        <title>{{ title }} | {{ site.name }}</title>

        <link rel="stylesheet" href="/site.min.css"/>
    </head>
    <body class="has-navbar-fixed-top">
        {% include "components/navbar.njk" %}

        <main>
            {{ content | safe }}
        </main>

        <script src="/site.min.js"></script>
    </body>
</html>
