---
layout: default
title: Page not found!
permalink: 404.html
hidden: true
---

<section class="hero is-bold is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <p class="subtitle is-1">404</p>
            <h1 class="title is-1">{{ title }}</h1>

            <a class="button is-large" href="/">
                Back to home
            </a>
        </div>
    </div>
</section>
