---
layout: default
title: Contact Us
---

<section class="section">
    <div class="container is-max-desktop">
        <h1 class="title is-1">{{ title }}</h1>

        <hr/>

        <div id="api_umbrella_contac" class="api-umbrella-embed">

            <p class="required-fields">
                <abbr title="Required" class="required">
                    <span class="abbr-required">*</span>
                </abbr>
                Required fields
            </p>

            <form id="api_umbrella_contact_form" role="form">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right" for="contact_name">
                        <abbr title="Required" class="required">
                            <span class="abbr-required">*</span>
                        </abbr>
                        Name
                    </label>

                    <div class="col-sm-5">
                        <input class="form-control" id="contact_name" name="contact[name]" size="50" type="text" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right" for="contact_email">
                        <abbr title="Required" class="required">
                            <span class="abbr-required">*</span>
                        </abbr>
                        Email
                    </label>

                    <div class="col-sm-5">
                        <input class="form-control" id="contact_email" name="contact[email]" size="50" type="email" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right" for="contact_api">
                        <abbr title="Required" class="required">
                            <span class="abbr-required">*</span>
                        </abbr>
                        Which API are you inquiring about?
                    </label>

                    <div class="col-sm-5">
                        <input class="form-control" id="contact_api" name="contact[api]" size="50" type="text" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right" for="contact_subject">
                        <abbr title="Required" class="required">
                            <span class="abbr-required">*</span>
                        </abbr>
                        What can we help you with?
                    </label>

                    <div class="col-sm-5">
                        <select id="contact_subject" name="contact[subject]" class="form-control" required>
                            <option value="">Please select one...</option>
                            <option>API key support</option>
                            <option>Requesting higher rate limits</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right" for="contact_message">
                        <abbr title="Required" class="required">
                            <span class="abbr-required">*</span>
                        </abbr>
                        Message
                    </label>

                    <div class="col-sm-5">
                        <textarea class="form-control" cols="40" id="contact_message" name="contact[message]" rows="6" required></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8 offset-sm-4">
                        <button type="submit" class="btn btn-lg btn-primary" data-loading-text="Loading...">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    {# Import API JS #}
    <script type="text/javascript" async="true" src="{{ site.resources.apiJS}}"></script>
    <script type="text/javascript" async="true" src="{{ site.resources.contactJS}}"></script>
</section>
