---
layout: default
title: Home
---

<section class="hero is-primary is-bold is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-3">API.CASTELNUOVO.XYZ</h1>

            <div class="field is-grouped is-hidden-mobile">
                <p class="control">
                    <a class="button is-medium" href="/docs">General Docs</a>
                </p>
                <p class="control">
                    <a class="button is-medium" href="/api">API's Docs</a>
                </p>
                <p class="control">
                    <a class="button is-medium" href="/signup">Request Key</a>
                </p>
                <p class="control">
                    <a class="button is-medium" href="/contact">Contact Us</a>
                </p>
            </div>
        </div>
    </div>
</section>
